code{background-color:#eee;color:#111;font-size: 200%;}
header{background-color:darkorange;}
main{padding-bottom:100px;background-color:darkkhaki;}
footer{position:absolute;bottom:0;width:100%;height:100px;background-color:black;}