:root {
	--admonition-note: rgba(68, 138, 255, 0.1);
	--admonition-abstract: rgba(0, 176, 255, 0.1);
	--admonition-info: rgba(83, 211, 230, 0.1);
	--admonition-tip: rgba(0, 191, 165, 0.1);
	--admonition-question: rgba(100, 221, 23, 0.1);
	--admonition-warning: rgba(255, 145, 0, 0.1);
	--admonition-example: rgba(101, 31, 255, 0.1);
	--admonition-todo: var(--admonition-warning);
	--admonition-theorem: var(--admonition-abstract);
	--admonition-definition: var(--admonition-info);
}