code{background-color:lightgray;color:darkgray;font-weight:bold;}
header{background-color:orange;}
main{padding-bottom:100px;background-color:yellow;}
footer{position:absolute;bottom:0;width:100%;height:100px;background-color:greenyellow;}