{% set data = load_data(path="quotes/" ~ id ~ ".toml") %}
{% set pool = data.pool %}
{% set holder_id = "quote-holder-" ~ nth %}
{% set func_name = "render_quote_" ~ id %}
{% if nth == 1 %}
<script>
	function {{ func_name }}(id) {
		let target = document.getElementById(id);
		let entries = {{ pool | json_encode() | safe }};
		let entry = entries[Math.floor(Math.random() * (entries.length))];
		target.querySelector("p").innerHTML = entry.text;
		target.querySelector("cite").innerHTML = "—" + entry.source;
	}
</script>
{% endif %}
<blockquote id="{{ holder_id }}" class="quote-display" onclick="{{ func_name }}('{{ holder_id }}')">
	<p>
		{{ text }}
	</p>
	<cite></cite>
</blockquote>