/*
	Fix bad stylesheet.
*/

article {
	/* Ensures head bar works correctly. */
	overflow-x: hidden;
}

.pl-4 {
	padding-left: 1rem;
	padding-right: 1rem;
}

blockquote cite.align-right {
	display: block;
	text-align: right;
}

blockquote cite em {
	text-decoration: 1px underline;
}

footer .block-bg:not(.block-hover) {
	background-color: transparent;
}

/*
	For personal use.
*/

.folded {
	display: none;
}

.list-additions li::marker {
	content: "+";
	color: green;
	font-weight: 800;
	font-family: 'Courier New', Courier, monospace;
}

.list-modifications li::marker {
	content: "*";
	color: goldenrod;
	font-weight: 800;
	font-family: 'Courier New', Courier, monospace;
}

.list-deletions li::marker {
	content: "-";
	color: red;
	font-weight: 800;
	font-family: 'Courier New', Courier, monospace;
}