article {
	/* Ensures head bar works correctly. */
	overflow-x: hidden;
}

blockquote em {
	text-decoration: 1px underline;
}

.folded {
	display: none;
}

.list-additions li::marker {
	content: "+";
	color: green;
	font-weight: 800;
	font-family: 'Courier New', Courier, monospace;
}

.list-modifications li::marker {
	content: "*";
	color: goldenrod;
	font-weight: 800;
	font-family: 'Courier New', Courier, monospace;
}

.list-deletions li::marker {
	content: "-";
	color: red;
	font-weight: 800;
	font-family: 'Courier New', Courier, monospace;
}

footer .block-bg:not(.block-hover) {
	background-color: transparent;
}