:root {
	--bg: #f4f4f4;
	--fg: black;
	--text: #333;
	--choice: #b97c2c;
	--choice-closed: #4f3411;
	--prompt: #0078d4;
}

.dark {
	--text: #ccc;
	--choice: #cc8f1a;
	--choice-closed: #c4af87;
}

body {
	background: var(--bg);
	margin: 0;
	padding: 20px;
	font-family: 'Courier New', monospace;
	color: var(--text);
}

@media screen and (prefers-reduced-motion: no-preference) {
	body.switched {
		transition: color 0.6s, background-color 0.6s;
	}
}

#terminal {
	max-width: 800px;
	margin: 0 auto;
	border: 1px solid #ddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.line {
	background-color: white;
	margin: 0;
	padding: 8px 12px;
	border-top: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
}

.input .prompt {
	color: var(--prompt);
	font-weight: 800;
}

p {
	font-size: 13pt;
	line-height: 1.7em;
}

/*
	Buttons.
*/

a {
	font-weight: 700;
	color: var(--choice);
	font-family: sans-serif;
	text-decoration: none;
}

.unclickable {
	color: var(--choice-closed);
	cursor: not-allowed;
}

@media (hover: hover) {
	a:hover {
		color: var(--fg);
	}

	@media screen and (prefers-reduced-motion: no-preference) {
		a {
			transition: color 0.6s;
		}

		a:hover {
			transition: color 0.1s;
		}
	}
}

/*
	Customized line classes.
*/

.title {
	font-size: 24pt;
	font-weight: 800;
}