{% component theorem(title=none) %}
<div class="my-4 flex flex-col rounded-lg bg-(--admonition-bg)" style="--admonition-bg: var(--admonition-theorem);">
  <div class="flex items-center rounded-t-lg bg-(--admonition-bg) p-1">
    <div class="mx-2 h-4 w-4 text-[0px] [background:var(--url)_center_center_no-repeat] dark:invert" style="--url: url(icons/theorem.svg)">theorem</div>
    <span><strong>{{ title | default(value="定理", boolean=true) }}</strong></span>
  </div>
  <div class="pl-4">{{ body | markdown | safe }}</div>
</div>
{% endcomponent theorem %}

{% component definition(title=none) %}
<div class="my-4 flex flex-col rounded-lg bg-(--admonition-bg)" style="--admonition-bg: var(--admonition-definition);">
  <div class="flex items-center rounded-t-lg bg-(--admonition-bg) p-1">
    <div class="mx-2 h-4 w-4 text-[0px] [background:var(--url)_center_center_no-repeat] dark:invert" style="--url: url(icons/definition.svg)">definition</div>
    <span><strong>{{ title | default(value="定义", boolean=true) }}</strong></span>
  </div>
  <div class="pl-4">{{ body | markdown | safe }}</div>
</div>
{% endcomponent definition %}

{% component question(title=none) %}
<div class="my-4 flex flex-col rounded-lg bg-(--admonition-bg)" style="--admonition-bg: var(--admonition-question);">
  <div class="flex items-center rounded-t-lg bg-(--admonition-bg) p-1">
    <div class="mx-2 h-4 w-4 text-[0px] [background:var(--url)_center_center_no-repeat] dark:invert" style="--url: url(icons/question.svg)">question</div>
    <span><strong>{{ title | default(value="问题", boolean=true) }}</strong></span>
  </div>
  <div class="pl-4">{{ body | markdown | safe }}</div>
</div>
{% endcomponent question %}

{% component example(title=none) %}
<div class="my-4 flex flex-col rounded-lg bg-(--admonition-bg)" style="--admonition-bg: var(--admonition-example);">
  <div class="flex items-center rounded-t-lg bg-(--admonition-bg) p-1">
    <div class="mx-2 h-4 w-4 text-[0px] [background:var(--url)_center_center_no-repeat] dark:invert" style="--url: url(icons/example.svg)">example</div>
    <span><strong>{{ title | default(value="例", boolean=true) }}</strong></span>
  </div>
  <div class="pl-4">{{ body | markdown | safe }}</div>
</div>
{% endcomponent example %}

{% component note(title=none) %}
<div class="my-4 flex flex-col rounded-lg bg-(--admonition-bg)" style="--admonition-bg: var(--admonition-note);">
  <div class="flex items-center rounded-t-lg bg-(--admonition-bg) p-1">
    <div class="mx-2 h-4 w-4 text-[0px] [background:var(--url)_center_center_no-repeat] dark:invert" style="--url: url(icons/note.svg)">note</div>
    <span><strong>{{ title | default(value="注", boolean=true) }}</strong></span>
  </div>
  <div class="pl-4">{{ body | markdown | safe }}</div>
</div>
{% endcomponent note %}

{% component tip(title=none) %}
<div class="my-4 flex flex-col rounded-lg bg-(--admonition-bg)" style="--admonition-bg: var(--admonition-tip);">
  <div class="flex items-center rounded-t-lg bg-(--admonition-bg) p-1">
    <div class="mx-2 h-4 w-4 text-[0px] [background:var(--url)_center_center_no-repeat] dark:invert" style="--url: url(icons/tip.svg)">tip</div>
    <span><strong>{{ title | default(value="提示", boolean=true) }}</strong></span>
  </div>
  <div class="pl-4">{{ body | markdown | safe }}</div>
</div>
{% endcomponent tip %}

{% component info(title=none) %}
<div class="my-4 flex flex-col rounded-lg bg-(--admonition-bg)" style="--admonition-bg: var(--admonition-info);">
  <div class="flex items-center rounded-t-lg bg-(--admonition-bg) p-1">
    <div class="mx-2 h-4 w-4 text-[0px] [background:var(--url)_center_center_no-repeat] dark:invert" style="--url: url(icons/info.svg)">info</div>
    <span><strong>{{ title | default(value="信息", boolean=true) }}</strong></span>
  </div>
  <div class="pl-4">{{ body | markdown | safe }}</div>
</div>
{% endcomponent info %}

{% component todo() %}
<div class="my-4 flex flex-col rounded-lg bg-(--admonition-bg)" style="--admonition-bg: var(--admonition-todo);">
  <div class="flex items-center rounded-t-lg bg-(--admonition-bg) p-1">
    <div class="mx-2 h-4 w-4 text-[0px] [background:var(--url)_center_center_no-repeat] dark:invert" style="--url: url(icons/todo.svg)"></div>
    <span><strong>TODO</strong></span>
  </div>
  <div class="pl-4"><p>尚待完成。</p></div>
</div>
{% endcomponent todo %}